.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--clr-raisin-black);
	box-shadow: 0px 4px 10px 0px var(--clr-onyx);
	padding: 1rem;
}

.header div {
	line-height: 1rem;
}

main {
	display: flex;
	flex-direction: column;
}

#pageobject-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 2rem auto 0;
	background-color: var(--clr-raisin-black);
	padding: 1rem 0;
	border: 1px solid var(--clr-baby-powder);
	border-bottom: none;
	border-radius: 8px 8px 0 0;
}

.pageobject-form__items {
	display: flex;
	flex-direction: row;
}

.pageobject-form__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 1rem;
}

.pageobject-form__item-checkbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.form-label {
	margin: 0.5rem 0;
}

.form-textbox,
.form-select,
#template-list {
	background-color: var(--clr-onyx);
	border: 1px solid var(--clr-onyx);
	border-radius: 4px;
	padding: 0.25rem;
}

.form-select {
	padding: calc(0.25rem - 1px);
}

.form-textbox,
.form-select,
.pageobject-form__item-checkbox {
	width: 25rem;
}

#include-get {
	margin: 0 0.5rem;
}

#add-button,
#generate-pageobject {
	padding: 0.5em;
	margin: 1rem 0;
	width: 20rem;
	align-self: center;
}

hr {
	width: 99%;
}

#pageobject-table-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 92vw;
	margin: 0 auto 2rem;
	padding: 1rem;
	background-color: var(--clr-raisin-black);
	border: 1px solid var(--clr-baby-powder);
	border-radius: 8px;
	box-shadow: 0 0 10px 8px var(--clr-raisin-black);
	min-height: 20vh;
}

#element-table {
	font-size: 0.8rem;
}

.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	margin: 5% auto;
	padding: 20px;
	background-color: var(--clr-raisin-black);
	border: 1px solid var(--clr-onyx);
	border-radius: 4px;
	width: 80%;
}

.modal-title {
	height: 2.5rem;
	border-bottom: 1px solid var(--clr-baby-powder);
	margin-bottom: 1.5rem;
}

.modal-footer {
	margin-top: 1rem;
	text-align: center;
}

.close {
	float: right;
}

.close:hover,
.close:focus {
	cursor: pointer;
}

.hide {
	display: none;
}

#output {
	background-color: var(--clr-onyx);
	border: 1px solid var(--clr-onyx);
	border-radius: 4px;
	font-family: consolas;
	width: 99.3%;
	min-height: 20rem;
	tab-size: 2rem;
}

#copy-to-clipboard-button {
	vertical-align: -webkit-baseline-middle;
	width: 15em;
	padding: 0.5em;
}

.w-fill-available {
	width: -webkit-fill-available;
}

@media (min-width: 72rem) {
	main {
		flex-direction: row;
		align-items: center;
	}

	main hr {
		display: none;
	}

	#pageobject-form {
		align-items: center;
		flex-basis: 35vw;
		margin: 2rem 2rem auto;
		border: 1px solid var(--clr-baby-powder);
		border-radius: 8px;
	}

	.pageobject-form__items {
		flex-direction: column;
		width: auto;
	}

	#template-list {
		width: 25rem;
	}

	#pageobject-table-container {
		flex-basis: 65vw;
		margin: 2rem 2rem auto 0;
		box-shadow: none;
	}
}