#element-type-table {
	font-size: 0.8em;
}

table tr td:nth-child(2),
table tr td:nth-child(3) {
	font-family: consolas;
}

#template-list,
.form-textbox,
.form-textarea {
	background-color: var(--clr-onyx);
	border: 1px solid var(--clr-onyx);
	border-radius: 4px;
}

#template-list {
	padding: calc(0.5rem - 1px);
	width: -webkit-fill-available;
	margin-right: 1rem;
}

.form-textbox {
	padding: 0.25rem;
	width: 25em;
}

.form-textarea {
	font-family: consolas;
	padding: 0.3em;
	width: -webkit-fill-available;
	width: 52rem;
}

.form-label {
	margin: 0.5rem 0;
}

.form-label-textarea {
	vertical-align: top;
}

#add-button,
#save-template {
	margin: 1rem 0;
}

#edit-template {
	width: 4rem;
}

#settings-form {
	display: flex;
	flex-direction: column;
	background-color: var(--clr-raisin-black);
	margin: 2rem auto 0;
	align-items: flex-start;
	padding: 1rem 0;
	border: 1px solid var(--clr-baby-powder);
	border-bottom: none;
	border-radius: 8px 8px 0 0;
}

.settings-form__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 1rem;
}

#template-info {
	display: flex;
	flex-direction: column;
	padding: 0 1rem 1rem;
	border-bottom: 1px solid var(--clr-baby-powder);
}

#template-info-ext {
	display: flex;
	justify-content: space-between;
}

#template-info-ext button:first-of-type {
	margin-right: 1rem;
}

#element-table-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 92vw;
	margin: 0 auto 2rem;
	padding: 1rem;
	background-color: var(--clr-raisin-black);
	border: 1px solid var(--clr-baby-powder);
	border-radius: 8px;
	box-shadow: 0 0 10px 8px var(--clr-raisin-black);
	min-height: 20vh;
}

@media (min-width: 72rem) {
	.form-textarea {
		width: -webkit-fill-available;
	}

	#settings-form {
		align-items: center;
		flex-basis: 35vw;
		margin: 2rem 2rem auto;
		border: 1px solid var(--clr-baby-powder);
		border-radius: 8px;
	}

	.settings-form__item {
		flex-direction: column;
		width: -webkit-fill-available;
	}

	#element-table-container {
		flex-basis: 65vw;
		margin: 2rem 2rem auto 0;
		box-shadow: none;
	}
}
