.form__textarea,
.table tr td:nth-child(2),
.table tr td:nth-child(3) {
	font-family: consolas;
}

.form__input,
.form__textarea,
.form-header__content .form__select {
	background-color: var(--clr-onyx);
	border: 1px solid var(--clr-onyx);
	border-radius: 4px;
}

.form-header__content .form__select {
	padding: calc(0.5rem - 1px);
	width: -webkit-fill-available;
	margin-right: 1rem;
}

.form__input {
	padding: 0.25rem;
	width: 25em;
}

.form__textarea {
	padding: 0.3em;
	width: -webkit-fill-available;
	width: 52rem;
}

.form-header {
	display: flex;
	flex-direction: column;
	padding: 0 1rem 1rem;
	border-bottom: 1px solid var(--clr-baby-powder);
}

.form-header__label {
	margin: 0.5rem 0;
}

.form-header__content {
	display: flex;
	justify-content: space-between;
}

.w-4 {
	width: 4rem;
}

.mr-1 {
	margin: 0 1rem 0 0;
}

.nowrap {
	white-space: nowrap;
}

@media (min-width: 72rem) {
	.form__item,
	.form__textarea {
		width: -webkit-fill-available;
	}

	.form__item {
		flex-direction: column;
	}
}
