:root {
	--clr-raisin-black: #1E1F29;
	--clr-onyx: #3B3D48;
	--clr-baby-powder: #F8F8F2;
	--clr-little-boy-blue: #71A9F7;
	--clr-azure: #2C83FE;
	--clr-french-raspberry: #C33149;
	--clr-antique-ruby: #91162B;
}

* {
	font-family: 'Segoe UI', sans-serif;
	color: var(--clr-baby-powder);
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--clr-onyx);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--clr-raisin-black);
	box-shadow: 0px 4px 10px 0px var(--clr-onyx);
	padding: 1rem;
}

header div {
	line-height: 1rem;
}

header a {
	text-decoration: none;
	padding: 0.2rem 1rem;
	border: 1px solid var(--clr-baby-powder);
	border-radius: 4px;
}

header a:hover,
header a:focus {
	background-color: var(--clr-baby-powder);
	color: var(--clr-raisin-black);
	border: 1px solid var(--clr-baby-powder);
	border-radius: 4px;
}

main {
	display: flex;
	flex-direction: column;
}

select:invalid {
	color: gray;
}

table {
	width: 100%;
	text-align: left;
	border-spacing: inherit;
}

table tr td:last-child {
	text-align: center;
}

table tbody tr {
	height: 4rem;
	background-color: var(--clr-raisin-black);
}

table tbody tr:nth-child(2n) {
	background-color: var(--clr-onyx);
}

table tbody td:first-child,
table tbody td:last-child {
	padding: 0 0.5rem;
}

table thead th {
	padding: 0 1rem 0 0;
}

.button {
	background-color: var(--clr-little-boy-blue);
	border: 1px solid var(--clr-little-boy-blue);
	border-radius: 4px;

	padding: 0.5rem;
	width: 20rem;
	align-self: center;
}

.button:hover,
.button:focus {
	background-color: var(--clr-azure);
	cursor: pointer;
}

.remove-button {
	background-color: var(--clr-french-raspberry);
	border: 1px solid var(--clr-french-raspberry);
	border-radius: 4px;
	padding: 0.4rem 1rem;
}

.remove-button:hover,
.remove-button:focus {
	background-color: var(--clr-antique-ruby);
	cursor: pointer;
}

.w-fill-available {
	width: -webkit-fill-available;
}

.mandatory::after {
	content: "*";
	color: var(--clr-french-raspberry);
	margin-left: 0.2rem;
}

@media (min-width: 72rem) {
	main {
		flex-direction: row;
		align-items: center;
	}
}
