:root {
	--clr-raisin-black: #1E1F29;
	--clr-onyx: #3B3D48;
	--clr-baby-powder: #F8F8F2;
	--clr-little-boy-blue: #71A9F7;
	--clr-azure: #2C83FE;
	--clr-french-raspberry: #C33149;
	--clr-antique-ruby: #91162B;
}

* {
	font-family: 'Segoe UI', sans-serif !important;
	color: var(--clr-baby-powder);
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	background-color: var(--clr-onyx);
}

.header {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--clr-raisin-black);
	box-shadow: 0px 4px 10px 0px var(--clr-onyx);
	padding: 1rem;
}

.header div {
	width: 20%;
}

.header div:last-of-type {
	text-align: end;
}

.header--error {
	background-color: var(--clr-antique-ruby);
	transition: background-color 500ms;
}

.header__title {
	line-height: 1rem;
}

.header__link {
	text-decoration: none;
	padding: 0.2rem 1rem;
	border: 1px solid var(--clr-baby-powder);
	border-radius: 4px;
}

.header__link:hover,
.header__link:focus {
	background-color: var(--clr-baby-powder);
	color: var(--clr-raisin-black);
	border: 1px solid var(--clr-baby-powder);
	border-radius: 4px;
}

.error {
	width: 60% !important;
	text-align: center;
}

.error--hidden {
	display: none;
}

.main {
	margin-top: 4rem;
}

.main,
.form,
.form__item,
.table-container {
	display: flex;
	flex-direction: column;
}

.form {
	align-items: flex-start;
	margin: 2rem auto 0;
	background-color: var(--clr-raisin-black);
	padding: 1rem 0;
	border: 1px solid var(--clr-baby-powder);
	border-bottom: none;
	border-radius: 8px 8px 0 0;
}

.form__items {
	display: flex;
	flex-direction: row;
}

.form__item {
	align-items: flex-start;
	margin: 0 1rem;
}

.form__label {
	margin: 0.5rem 0;
}

.form__select:invalid {
	color: gray;
}

.table-container {
	align-items: center;
	justify-content: space-between;
	width: 92vw;
	margin: 0 auto 2rem;
	padding: 1rem;
	background-color: var(--clr-raisin-black);
	border: 1px solid var(--clr-baby-powder);
	border-radius: 8px;
	box-shadow: 0 0 10px 8px var(--clr-raisin-black);
	min-height: 20vh;
}

.table {
	width: 100%;
	text-align: left;
	border-spacing: inherit;
}

.table__body {
	font-size: 0.8em;
}

.table tbody tr {
	height: 4rem;
	background-color: var(--clr-raisin-black);
}

.table tbody tr:nth-child(2n) {
	background-color: var(--clr-onyx);
}

.table tbody td:first-child,
.table tbody td:last-child {
	padding: 0 0.5rem;
}

.table thead th {
	padding: 0 1rem 0 0;
}

.form__button,
.table-container__button {
	margin: 1rem 0;
}

.form__button,
.table-container__button,
.modal-footer__button {
	align-self: center;
	background-color: var(--clr-little-boy-blue);
	border: 1px solid var(--clr-little-boy-blue);
	border-radius: 4px;
	padding: 0.5rem;
	width: 20rem;
}

.form__button:hover,
.form__button:focus,
.table-container__button:hover,
.table-container__button:focus,
.modal-footer__button:hover,
.modal-footer__button:focus {
	background-color: var(--clr-azure);
	cursor: pointer;
}

.form__button--remove,
.table__button--remove {
	background-color: var(--clr-french-raspberry);
	border: 1px solid var(--clr-french-raspberry);
	border-radius: 4px;
	width: auto;
}

.table__button--edit {
	background-color: var(--clr-little-boy-blue);
	border: 1px solid var(--clr-little-boy-blue);
	border-radius: 4px;
	width: auto;
}

.table__button--edit,
.table__button--remove {
	padding: 0.4rem 0.6rem;
}

.form__button--remove:hover,
.form__button--remove:focus,
.table__button--remove:hover,
.table__button--remove:focus  {
	background-color: var(--clr-antique-ruby);
	cursor: pointer;
}

.table__button--edit:hover,
.table__button--edit:focus  {
	background-color: var(--clr-azure);
	cursor: pointer;
}

.w-fill-available {
	width: -webkit-fill-available;
}

.w-0 {
	width: 0%;
}

.mandatory::after {
	content: "*";
	color: var(--clr-french-raspberry);
	margin-left: 0.2rem;
}

@media (min-width: 72rem) {
	.main {
		flex-direction: row;
		align-items: center;
	}

	.form {
		align-items: center;
		flex-basis: 35vw;
		margin: 2rem 2rem auto;
		border: 1px solid var(--clr-baby-powder);
		border-radius: 8px;
	}

	.table-container {
		flex-basis: 65vw;
		margin: 2rem 2rem auto 0;
		box-shadow: none;
	}
}
